@charset "UTF-8";
/* 태블릿 버전 */
body, main {
  min-width: 640px;
}

header {
  width: 100%;
  min-width: 640px;
  height: 50px;
  padding: 0;
  background-color: #000000;
}

.header-inner {
  width: 100%;
  gap: 0;
  justify-content: center;
  position: relative;
}

a img {
  display: none;
}

a {
  text-decoration: none;
  align-items: center;
  color: #ffffff;
}

.menu {
  font-size: 20px;
  font-weight: 700;
}

.bg-logo {
  margin: 0 auto;
  width: 254px;
  height: 100%;
  display: block;
  background: url("/ex/image/naverlabs/naverlabs-logo-white.png") 50% 50% no-repeat;
  text-indent: -9000px;
  overflow: hidden;
}

.nav {
  display: none;
}

.nav.on {
  background: #0078FF;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 900;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 100px;
  color: white;
  display: flex;
}

.t-xmark {
  display: block;
  padding-bottom: 50px;
  font-size: 30px;
  color: white;
  width: 80px;
  height: 80px;
}


.fa-bars:before {
  display: none;
  font-size: 25px;
  display: block;
  color: white;
  position: absolute;
  top: 13px;
  right: 25px;
}

.inner {
  width: 100%;
  padding: 49.44px 0 50px 0;
  gap: 10px;
  flex-direction: column;
}

aside {
  width: 100%;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 50px;
  left: 20px;
  padding: 10px 0 0 20px;
  background: #fff;
  z-index: 700;
  gap: 10px;
}

aside > .bt-group {
  flex-direction: row;
  padding: 5px;
}

i.mt-bars {
  display: block;
}