@charset "UTF-8";

h1 {
  color: blue;
  font-size: 50px;
}

.inner {
  width: 100%;
}

.section2 {
  background-size: 100% 450px;
}
section .inner {
  padding: 50px 40px;
}
.section2 .inner {
  gap: 20px;
  padding: 50px 40px 0px 40px;
}

.inner2 {
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 50px 40px 0px 40px;
}

h2 {
  font-size: 25px;
}
p {
  letter-spacing: -1.5px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-height: 1.2;
  max-height: 2.25rem;
}
/* 텍스트 자르는 거 연습 */

.section2 .inner > div {
  padding: 0;
}

.txt-box {
  padding: 20px 20px 0px 20px;
  gap: 10px;
}

article {
  display: flex;
  background-color: white;
  gap: 10px;
  width: 100%;
}

article:nth-child(2), article:nth-child(2) {
  padding: 0;
}

img {
  width: 200px;
  height: 170px;
}